<h1>Our Database Tacos</h1>
<ul>
  {{#each tacos}}
    <li>{{this.shell}}, {{this.protein}}, {{this.spiceLevel}}</li>
    {{!-- <li>{{this.protein}}</li>
    <li>{{this.spiceLevel}}</li> --}}
  {{/each}}
</ul>